{{ define "content" }}
<div class="login-box">
	<form action="/profile/edit" method="POST">
    <div class="heading-title">My Profile</div>
    <label>Full name:</label>
    <input type="text" name="fullname" value="{{ .Fullname }}">
    <label>Address:</label>
    <input type="text" name="address" value="{{ .Address }}">
		<label>Email Address:</label>
		<input type="text" placeholder="email@example.com" name="email" value="{{ .Email }}"/>
    <label>Telephone:</label>
    <input type="tel" name="telephone" value="{{ .Telephone }}">
		<button id="btnLogin" class='button'>Save</button>
	</form>
</div>

{{ end }}