{{ define "layout" }}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Golang App</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" cont>
  </head>
  <body>
    {{if .IsLogged}}
    <p><a href="/logout">Logout</a></p>
    {{end}}
    {{ template "content" . }}
  </body>
</html>
{{ end }}