{{ define "content" }}
<div class="login-box">
	<form action="/login" method="POST">
		<div class="heading-title">Login</div>
		
		
		<label>Email Address:</label>
		<input type="text" placeholder="email@example.com" name="email"/>
		<label>Password:</label>
		<input type="password" name="password"/>
		<button id="btnLogin" class='button'>Login</button>
		<div class="m-top"><a href="#">Forgot Password?</a></div>
		<p>Or</p>
		<div>
			<p><a href="/auth/google/login">Login using Google</a></p>
		</div>
		<div class="m-top">Don't have an account? <a href="/register">Create account</a></div>

	</form>
</div>
{{ end }}