{{ define "content" }}
<div class="login-box">
  <div class="heading-title">My Profile</div>
  <label>Full name:</label>
  {{ .Fullname }}
  <label>Address:</label>
  {{ .Address }}
  <label>Email Address:</label>
  {{ .Email }}
  
  <label>Telephone:</label>
  {{ .Telephone }}
  <a href="/profile/edit" id="btnLogin" class='button'>Edit Profile</a>
</div>
{{ end }}