{{ define "content" }}
<div class="login-box">
	<form action="/register" method="POST">
		<div class="heading-title">Login</div>
		
		
		<label>Email Address:</label>
		<input type="text" placeholder="email@example.com" name="email"/>
		<label>Password:</label>
		<input type="password" name="password"/>
		<button id="btnLogin" class='button'>Login</button>
		<div>
			<p><a href="/auth/google/login">Sign in using Google</a></p>
		</div>
	</form>
</div>
{{ end }}