body{
	margin:0;
	padding:0;
	font-family:"Trebuchet MS";
	font-size:13px;
}

.login-box{
	width:400px;
	min-height:300px;
	position:absolute;
	left:50%;
	top:50%;
	z-index:100;
	margin-left:-200px;
	margin-top:-150px;
	background-color:#e4f5fa;
	box-sizing:border-box;
	border-radius:10px;
	border:solid 1px #e1dedd;
	padding:20px;
}

.heading-title{
	font-size:20px;
	font-weight:bold;
	text-align:center;
	margin-bottom:20px;
}

.login-box label{
	display:block;
	margin-bottom:5px;
}

.login-box input[type='text'], .login-box input[type='password']{
	display:block;
	margin-bottom:10px;
	width:100%;
	box-sizing:border-box;
	padding:10px;
	border-radius:2px;
	border:solid 1px #efeeed;
}

.button{
	display: inline-block;
	height: 30px;
	padding: 0 30px;
	color: #fff;
	background-color: #1eaedb;
	border-color: #1eaedb;
	line-height: 30px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	border-radius: 4px;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
}

.m-top{
	margin-top:10px;
}

@media only screen and (max-width: 480px) {
	.login-box {
		position: relative;
		left: 0;
		top: 0;
		max-width: 320px;
		margin: 0 auto;
		margin-top:30px;
	}
}